h1 {
  color: whitesmoke;
}

.login-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.inputs-login {
  border: none;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
}

.button-login-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.button-login-container :nth-child( 1 ) {
  background-color: #716221;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-weight: 700;
  scale: 1.1;
  transition-duration: 0.1s;
}

.button-login-container :nth-child( 2 ) {
  background-color: #1b1b1b;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

.button-login-container :nth-child( 1 ):disabled {
  background-color: silver;
  scale: 1;
  transition-duration: 0.1s;
}

.button-login-container :nth-child( 1 ):enabled:hover {
  background-color: #61541d;
  scale: 1.2;
}

.error-message {
  color: #9e3333;
  font-size: 18px;
  font-weight: 700;
}
